body {
	/* FLEX BOX PROPERTIES */
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:space-between;
	
	
	/* BOX MODEL PROPERTIES */
	margin: 0;
	padding:0;
	min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    
	
}

.list{
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: end;
}

li {
    display: inline-block;
    margin: 10px;
}

nav {
    color:black;
    background-color: paleturquoise;
    height:80px;
    width: 100%;
    
    /*Stretch the distance between elements to fill the width*/   			 /* Prevents the elemens from stretching too far */
    justify-content:space-around;    /* Automatically stretches the elements*/
    flex-wrap:wrap;                  /* If mobile, makes the elements wrap for accesibility */
}

nav a {
	/*Customize <a> tag style*/
	text-decoration: none;
	color:black;
	margin:0 12px;
}

nav>a:hover {
	color: #408dc0;
}


header {
	color:black;
	background-image: url("header1.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height:400px;
	width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

headersoil {
	color:black;
	background-image: url("soil-health.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height:400px;
	width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

#welcome {
	color:rgb(1, 58, 22);
	background-color:  rgb(165, 224, 185);
	min-height:400px;
	width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

#s1 {
	color:rgb(255, 255, 255);
	background-color: rgb(117, 189, 141);
	min-height:400px;
	width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

#s2 {
	color:rgb(255, 255, 255);
	background-color: rgb(67, 141, 92);
	min-height:400px;
	width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    
}

#s3 {
	color:rgb(255, 255, 255);
	background-color: rgb(39, 106, 61);
	min-height:400px;
	width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    
}

#location {
	color:rgb(255, 255, 255);
	background-color: #398462;
	min-height:400px;
	width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
#connect {
	color:rgb(255, 255, 255);
	background-color: #4b7e82;
	min-height:400px;
	width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

#v1 {
	color:rgb(0, 55, 31);
	background-color: #8bad9f;
	min-height:150px;
	width:100%;
    display:flex;
    align-items: normal;
    justify-content: space-around;
}

#v2 {
	color:rgb(0, 50, 16);
	background-color: #8aa7a9;
	min-height:150px;
	width:100%;
    display:flex;
    align-items: normal;
    justify-content: space-around;
}

#z1 {
	color:rgb(0, 50, 16);
	background-color: #c0e7cf;
	min: height 50px;;
	width:100%;
    display:flex;
    align-items: normal;
    justify-content: space-around;
}


#final {
	color:rgb(255, 255, 255);
	background-color: #0f5734;
	min-height:400px;
	width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

#foot {
	color:rgb(255, 255, 255);
	background-image: url("header1.jpg");
	height: 200px;
	width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
	margin-left: 50px;
	margin-right: 50px;
}

p {
	margin-left: 50px;
	margin-right: 50px;
}